html {
  box-sizing: border-box;
}

.buttons {
  border: 10px;
}

.calculator {
  max-width: 540px;
  height: 300px;
  margin: 0 auto;
  border: 8px solid #ffffff;
}

.screen {
  max-width: 540px;
  height: 100px;
  margin: 0 auto;
  border: 8px solid white;
  background-color: gray;
}

.buttonProps {
  color: black;
  background-color: orange;
  font-size: x-large;
  width: 134px;
  height: 75px;
  margin-left: 1px;
}

body {
  background-color: #000000;
}
